<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EffortActivities" value="Development|Evaluation|Management|Meeting|Other|Testing|Training|User Manuals"/>
		<add key="Workers" value="Bruno Nogueira|Joao Azevedo"/>
		<add key="SimulationMode" value="true"/>
		<add key="SleepTime" value="500"/>
	</appSettings>
</configuration>


